.menu {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  display: inline-block;
}

.container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  z-index: 10;
}
.navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
}

.icon {
  display: block;
}

.box {
  flex-basis: 100%;
  border: 2px solid "#7f56f2";
}

.active {
  border-bottom: 1px solid white;
  transition: border-bottom 2s ease-in-out;
}

.light_active {
  border-bottom: 1px solid #110042;
  transition: border-bottom 2s ease-in-out;
}

@media only screen and (min-width: 500px) {
  .icon {
    display: block;
  }
  .box {
    flex-basis: 100%;
  }
  .navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .icon {
    display: none;
  }
  .box {
    flex-basis: auto;
  }
  .navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 996px) {
  .icon {
    display: none;
  }
  .box {
    flex-basis: auto;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  .icon {
    display: none;
  }
  .box {
    flex-basis: auto;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
