.resultsDiv {
  background-color: #2c276b;
  border-radius: 20px;
  min-width: 450px;
  padding: 30px;
}

.resultsDiv h1 {
  font-size: 2rem;
}

.resultsDiv > * {
  margin-bottom: 20px;
}

.totalUsers {
  text-align: center;
}

.progressDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
