.container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  padding: 25px;
}

.title {
  text-align: center;
  margin-top: 100px auto;
  font-size: 2.5em;
}

.notify {
  position: relative;
  top: -690px;
  left: 50px;
  width: 25px;
  height: 25px;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;
  border-radius: 50%;
}
/* Players flex container */
.players {
  max-width: 960px;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.players section {
  margin: 1.5rem;
  max-width: 300px;
  height: auto;
  flex: 0 0 380px;
  padding: 15px;

  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
@media only screen and (min-width: 423px) {
  .notify {
    position: relative;
    top: -450px;
    left: -130px;
    width: 25px;
    height: 25px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
  }
}

@media only screen and (min-width: 438px) {
  .notify {
    position: relative;
    top: -450px;
    left: -130px;
    width: 25px;
    height: 25px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
  }
}
@media only screen and (min-width: 500px) {
  .notify {
    position: relative;
    top: -540px;
    left: -100px;
    width: 30px;
    height: 30px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
  }
}
@media only screen and (min-width: 746px) {
  .notify {
    position: relative;
    top: -550px;
    left: 240px;
    width: 35px;
    height: 35px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .notify {
    position: relative;
    top: -580px;
    left: 250px;
    width: 35px;
    height: 35px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
  }
}

@media only screen and (min-width: 780px) {
  .notify {
    position: relative;
    top: -260px;
    left: -95px;
    width: 35px;
    height: 35px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
  }
}

@media only screen and (min-width: 996px) {
  .notify {
    position: relative;
    top: -300px;
    left: -90px;
    width: 40px;
    height: 40px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
  }
}
