.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion {
  width: 90%;
  max-width: 500px;
}

.userTable,
.sessionTable {
  width: 100%;
  overflow-x: scroll;
}

.tab {
  width: 90%;
}
